h1 {
    padding-top: 40px;
}

#text {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
img {
    width: 550px;
    height: 350px;
    border: 8px solid green;
}
p {
    text-indent: 25px;
    text-align: center;
}

header {
    padding: 15px 16px;
    width: 100%;
    background: green;
    position:fixed;
    top: 0;
}

li {
    text-align: center;
}